<!DOCTYPE html>
<html>
{% include "mymenu.html" with me="TOBIAS" sponsor="W3SCHOOLS"  %}
<body>
  
  <table border='1'>
    <tr>
      <th>ID</th>
      <th>Firstname</th>
      <th>Lastname</th>
    </tr>
    {% for x in mymembers %}
      <tr>
        <td>{{ x.id }}</td>
          <td>{{ x.firstname }}</td>
        <td>{{ x.lastname }}</td>
      </tr>
    {% endfor %}
  </table>



<p>In views.py you can see what the fruits variable looks like.</p>

</body>
{% include 'footer.html' %}
</html>
